<!DOCTYPE html>
<html>
<head>
<title></title>
<style>
	*{
		margin: 0px;	
	}
	tr{
		width: 300px;	
	}
	td{
		width: 86px;	
	}
</style>
</head>
<body>
	<table border cellpadding = 3>
		<tr>
			<th>ID</th><td>{{ id }}</td>
			<th>Name</th><td>{{ name }}</td>
			<th>Surname</th><td>{{ surname }}</td>
			<th>Age</th><td>{{ age }}</td>		
		</tr>	
	</table>
</body>
</html>